<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldMagenta(%d{MM-dd HH:mm:ss}) [%boldYellow(%-5level)] %cyan(%logger{3}.%M) - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/logs/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/logs/backup/error%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
	       <pattern>%boldMagenta(%d{MM-dd HH:mm:ss}) [%boldYellow(%-5level)] %cyan(%logger{5}.%M) - %msg %n</pattern>
	       <ImmediateFlush>true</ImmediateFlush>
	    </encoder>
	</appender> -->

    <logger name="jdbc" level="OFF" />
    <logger name="jdbc.sqlonly" level="OFF" />
    <logger name="jdbc.sqltiming" level="DEBUG" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.resultsettable" level="OFF" />
    <logger name="jdbc.connection" level="OFF" />

    <logger name="org.springframework.security" level="DEBUG" />

    <logger name="kr.co.infob.config.security" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="error" /> -->
    </root>
</configuration>